.el-popper {
  border-radius: 16px;
  overflow: hidden;

  .el-dropdown-menu {
    padding: 7px;

    .el-dropdown-menu__item {
      border-radius: 8px;
    }
  }
}

.el-dropdown {
  * {
    outline: none;
  }
}
